<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<form th:action="@{/}" method="GET" xmlns:th="http://www.w3.org/1999/xhtml"></form>

<head>
  <meta charset="utf-8">
  <title>Mancala</title>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Fontdiner+Swanky|Roboto+Slab">
  <link rel="stylesheet" th:href="@{/css/app.css}" />
</head>

<body modelAttribute="mancala" data-player="one">
  <h1>Mancala</h1>

  <div class="board">
    <div class="player-two store">
      <p><span th:text="${mancala_P1}"></span>
      </p>
    </div>

    <div class="rows">
      <div class="row player-two">
        <div class="pit">
          <p><a th:onclick="|alert('oi')|"><span th:text="${P1_pit1}"></span></a></p>
        </div>
        <div class="pit">
          <p><span th:text="${P1_pit2}"></span></p>
        </div>
        <div class="pit">
          <p><span th:text="${P1_pit3}"></span></p>
        </div>
        <div class="pit">
          <p><span th:text="${P1_pit4}"></span></p>
        </div>
        <div class="pit">
          <p><span th:text="${P1_pit5}"></span></p>
        </div>
        <div class="pit">
          <p><span th:text="${P1_pit6}"></span></p>
        </div>
      </div>

      <div class="row player-one">
        <div class="pit">
          <p><span th:text="${P2_pit1}"></span></p>
        </div>
        <div class="pit">
          <p><span th:text="${P2_pit2}"></span></p>
        </div>
        <div class="pit">
          <p><span th:text="${P2_pit3}"></span></p>
        </div>
        <div class="pit">
          <p><span th:text="${P2_pit4}"></span></p>
        </div>
        <div class="pit">
          <p><span th:text="${P2_pit5}"></span></p>
        </div>
        <div class="pit">
          <p><span th:text="${P2_pit6}"></span></p>
        </div>
      </div>
    </div>

    <div class="player-one store">
      <p><span th:text="${mancala_P2}"></span>
    </div>
  </div>

  <p class="status">It is player <span class="current-player">one</span>'s turn</p>

  <button class="new-game" th:onclick="|alert('oi')|">
    New Game</button>

</body>

</html>