<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<form th:action="@{/}" method="POST" xmlns:th="http://www.w3.org/1999/xhtml"></form>

<head>
  <meta charset="utf-8">
  <title>Mancala</title>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Fontdiner+Swanky|Roboto+Slab">
  <link rel="stylesheet" th:href="@{/css/app.css}" />
</head>

<body data-player="one">
  <h1>Mancala</h1>

  <div class="board">
    <div class="player-two store">
      <input class="player-two store" type="number" id="p2_mancala" placeholder="0" th:value="${p1_mancala}"></input>
    </div>

    <div class="rows">
      <div class="row player-two">
        <div class="pit">
          <input class="pit" type="number" id="p2_pit1" placeholder="6" name="result" th:value="${p1_mancala}"></input>
        </div>
        <div class="pit">
          <p>6</p>
        </div>
        <div class="pit">
          <p>6</p>
        </div>
        <div class="pit">
          <p>6</p>
        </div>
        <div class="pit">
          <p>6</p>
        </div>
        <div class="pit">
          <p>6</p>
        </div>
      </div>

      <div class="row player-one">
        <div class="pit">
          <p>6</p>
        </div>
        <div class="pit">
          <p>6</p>
        </div>
        <div class="pit">
          <p>6</p>
        </div>
        <div class="pit">
          <p>6</p>
        </div>
        <div class="pit">
          <p>6</p>
        </div>
        <div class="pit">
          <p>6</p>
        </div>
      </div>
    </div>

    <div class="player-one store">
      <p></p>
    </div>
  </div>

  <p class="status">It is player <span class="current-player">one</span>'s turn</p>

  <button class="new-game" th:onclick="@{doSomething();}">
    New Game</button>

</body>

</html>